.global-edit {
	padding-left: 20px;
}

.global-field {
	display: none;
	margin-left: 5px;
}

.global-close {
	display: none;
}

.oai-wrap {
	float: left;
	margin-right: 20px;
	position: relative;
}

form#ioai-type-settings-form fieldset {
	float: left;
	width: 20%;
	margin-right: 10px;
}

form#ioai-type-settings-form div.fieldset-wrapper fieldset {
	float: none;
	width: auto;
}

input#edit-submit {
	clear: both;
	display: block;
}
